Beautiful Soup is a Python library for pulling out ou scraping data of HTML and XML files.

### <font color = 'tomato'> Import packages

In [80]:
# import packages
from requests import get #allows to get the html code

In [81]:


from bs4 import BeautifulSoup as bs #

In [82]:

#import pandas as pd

### <font color = 'tomato'> Collect data over one page

In [83]:
# url
url = 'https://dakar-auto.com/senegal/voitures-4?&page=1'
# get the html code of the page using the get function requests
res = get(url)

In [84]:
# store the html code in a beautifulsoup objet with a html parser (a parser allows to easily navigate through the html code)
soup = bs(res.text, 'html.parser')

Fucntions that we will use :
find_all :  

1.   find_all : This method returns a result set of contents of all the tags matching with the argument tag provided.
2.   find : This method return the content of a specific tag.

![functions_utiles.jpg]()

In [85]:
# get all containers that contains the informations of each car
containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3' )

In [86]:
# length of containers
len(containers)

20


First, we will start with one container and scrape the data. After we generalize the scraping to the other containers by using a for loop. What facilitates the generalization? Is the fact that every container has the same structure in the case of HTML code.

In [87]:
# scrape data from a container (we have the possibility to choose any container we want)
# But we need to make sure the container we choose contain all the informations we need
container = containers[0]
# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

['Citroen', 'C3', '2016']

In [88]:
# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

'Citroen'

In [89]:

# get the model
model = gen_inf[1 : len(gen_inf) - 1]
model

['C3']

In [90]:
# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model

'C3'

In [91]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year

'2016'

In [92]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

[<li class="listing-card__attribute list-inline-item">
 <b>Ref.</b> 139356			</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-road-perspective"></i>
 </span>150000 km</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-gear-icon"></i>
 </span>Manuelle</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-fuel"></i>
 </span>Diesel</li>]

In [93]:
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

[<li class="listing-card__attribute list-inline-item">
 <b>Ref.</b> 139356			</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-road-perspective"></i>
 </span>150000 km</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-gear-icon"></i>
 </span>Manuelle</li>,
 <li class="listing-card__attribute list-inline-item"><span class="vehicle-attrib_icon_svg_container">
 <i class="v-icon icon-fuel"></i>
 </span>Diesel</li>]

In [94]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text
reference

'\nRef. 139356\t\t\t'

In [95]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference

'Ref. 139356'

In [96]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference

'139356'

In [97]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer

'\n\n150000 km'

In [98]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer

'150000 km'

In [99]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip().replace(" km", '')
kilometer

'150000'

In [100]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip().replace(" km", '')
kilometer 
# get gearbox type
gearbox = gen_inf2[2].text.strip()
gearbox

'Manuelle'

In [101]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

['Citroen', 'C3', '2016']

In [102]:

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip().replace(" km", '')
kilometer 
# get gearbox type
gearbox = gen_inf2[2].text.strip()
gearbox 

# get fuel type
fuel_type = gen_inf2[-1].text.strip()
fuel_type

'Diesel'

In [103]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip().replace(" km", '')
kilometer 
# get gearbox type
gearbox = gen_inf2[2].text.strip()
gearbox 

# get fuel type
fuel_type = gen_inf2[-1].text.strip()
fuel_type
# scrape the price
price = container.find('h3', class_ = "listing-card__header__price font-weight-bold text-uppercase mb-0").text
price

'\n\t\t\t\t\t5\u202f000\u202f000 F CFA '

In [104]:

# scrape the car brand, model and the year
gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
gen_inf

# get the brand
brand = gen_inf[0]
brand

# get the model
model = ''.join(gen_inf[1 : len(gen_inf) - 1])
model
# get the year
year = gen_inf[-1]
year
# Scrape the reference, kilometer driven, fuel type and gearbox type
gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')
gen_inf2

# get reference
reference = gen_inf2[0].text.strip()
reference
# get reference
reference = gen_inf2[0].text.strip().replace("Ref. ","")
reference
# get kilometer driven
kilometer  = gen_inf2[1].text
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip()
kilometer 
# get kilometer driven
kilometer  = gen_inf2[1].text.strip().replace(" km", '')
kilometer 
# get gearbox type
gearbox = gen_inf2[2].text.strip()
gearbox 

# get fuel type
fuel_type = gen_inf2[-1].text.strip()
fuel_type
# scrape the price
price = container.find('h3', class_ = "listing-card__header__price font-weight-bold text-uppercase mb-0").text
price

price = price.strip().replace(' F CFA', "").replace('\u202f','').replace('\u202f','')
price
# print all the infos for the first container
print(brand, "--", model, "--", year, "--", reference, "--", kilometer, "--", gearbox, "--", fuel_type,"--", price)

Citroen -- C3 -- 2016 -- 139356 -- 150000 -- Manuelle -- Diesel -- 5000000

In [105]:
import pandas as pd

In [106]:
# scrape data from all the containers
data = []
for container in containers:
    try:
        # scrape the car brand, model and the year
        gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()


# get the brand
        brand = gen_inf[0]


# get the model
        model = ''.join(gen_inf[1 : len(gen_inf) - 1])

# get the year
        year = gen_inf[-1]

# Scrape the reference, kilometer driven, fuel type and gearbox type
        gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')


# get reference
        reference = gen_inf2[0].text.strip()

# get reference
        reference = gen_inf2[0].text.strip().replace("Ref. ","")


# get kilometer driven
        kilometer  = gen_inf2[1].text.strip().replace(" km", '')

# get gearbox type
        gearbox = gen_inf2[2].text.strip()


# get fuel type
        fuel_type = gen_inf2[-1].text.strip()

# scrape the price
        price = container.find('h3', class_ = "listing-card__header__price font-weight-bold text-uppercase mb-0").text


        price = price.strip().replace(' F CFA', "").replace('\u202f','').replace('\u202f','')

        dic = {'brand': brand,
       "model": model,
       "year": year,
       "reference": reference,
       "kilometer": kilometer,
       "gearbox": gearbox,
       'fuel_type': fuel_type,
       "price": price}
        data.append(dic)
    except:
        pass    

df = pd.DataFrame(data)

In [107]:
# data from the first page
df.head()

,brand,model,year,reference,kilometer,gearbox,fuel_type,price
0,Citroen,C3,2016,139356,150000,Manuelle,Diesel,5000000
1,Mitsubishi,Outlander,2016,139354,115000,Automatique,Essence,9500000
2,Renault,megane-3,2013,139352,260000,Manuelle,Diesel,4000000
3,Rover,range,2017,139328,54000,Automatique,Essence,15499000
4,Ford,Fusion,2013,139330,80000,Automatique,Essence,3950000

In [108]:
df.shape

(20, 8)

### <font color = 'tomato'> Collect data over multiple pages

In [123]:
# create a empty dataframe df
df = pd.DataFrame()
# loop over pages indexes
for p in range (1,51):
    url = 'https://dakar-auto.com/senegal/voitures-4?&page = {p}'
    # url

# get the html code of the page using the get function requests
    res = get(url)
# get all containers that contains the informations of each car
    containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3' )

# scrape data from all the containers 
    data = []
    for container in containers:
        try:
            # scrape the car brand, model and the year
            gen_inf = container.find('h2', class_ = 'listing-card__header__title mb-md-2 mb-0').text.strip().split()


    # get the brand
            brand = gen_inf[0]


    # get the model
            model = ''.join(gen_inf[1 : len(gen_inf) - 1])

    # get the year
            year = gen_inf[-1]

    # Scrape the reference, kilometer driven, fuel type and gearbox type
            gen_inf2 = container.find_all('li', class_ = 'listing-card__attribute list-inline-item')


    # get reference
            reference = gen_inf2[0].text.strip()

    # get reference
            reference = gen_inf2[0].text.strip().replace("Ref. ","")


    # get kilometer driven
            kilometer  = gen_inf2[1].text.strip().replace(" km", '')

    # get gearbox type
            gearbox = gen_inf2[2].text.strip()


    # get fuel type
            fuel_type = gen_inf2[-1].text.strip()

    # scrape the price
            price = container.find('h3', class_ = "listing-card__header__price font-weight-bold text-uppercase mb-0").text


            price = price.strip().replace(' F CFA', "").replace('\u202f','').replace('\u202f','')

            dic = {'brand': brand,
        "model": model,
        "year": year,
        "reference": reference,
        "kilometer": kilometer,
        "gearbox": gearbox,
        'fuel_type': fuel_type,
        "price": price}
            data.append(dic)
        except:
            pass    

    DF = pd.DataFrame(data)   
    df = pd.concat([df,DF], axis = 0).reset_index(drop=True)

In [124]:
df.head()

,brand,model,year,reference,kilometer,gearbox,fuel_type,price
0,Citroen,C3,2016,139356,150000,Manuelle,Diesel,5000000
1,Mitsubishi,Outlander,2016,139354,115000,Automatique,Essence,9500000
2,Renault,megane-3,2013,139352,260000,Manuelle,Diesel,4000000
3,Rover,range,2017,139328,54000,Automatique,Essence,15499000
4,Ford,Fusion,2013,139330,80000,Automatique,Essence,3950000

In [125]:
df.shape

(1000, 8)

In [112]:
Data_Finale = pd.concat([df,DF], axis = 0).reset_index(drop = True)

### <font color = 'tomato'> Assignment

In [113]:
# url
url = 'https://dakar-auto.com/senegal/motos-and-scooters-3?&page=3'
#scrape the following informations: 
#brand, model, year,reference, kms driven, adress, price
# from page 1 to 14
#clean the scraped data